.workout-tab {
  display: flex;
  flex-direction: row;
  height: calc(100vh - 60px);
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;

}

.workout-tab-title {
  margin-bottom: 20px
}

.workout-titles {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  padding: 5px;
}

.workout-build input[type='text'] {
  border: 1px solid #909090;
  background-color: #fff;
  text-align: center;
  margin: 0 5px;
}

.randomize {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.workout-btn-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 5px 10px;
}



.workout-popular,
.workout-build {
  width: 50%;
  padding: 20px;
}

.workout-popular h1,
.workout-build h1 {
  text-align: center;
  overflow-y: scroll;
}




.save-workout-btn,
.workout-randomize-btn {
  padding: 5px;
  background-color: #136EF6;
  font-size: 18px;
}

.exercise-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
