.detail-image {
  height: 300px;
  max-width: 500px;
  display: block;
  margin: 20px auto;
}

.detail-placeholder {
  text-align: center;
  line-height: 300px;
  vertical-align: middle;
  /*margin-top: 20%;*/
}

.detail-view {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}


.detail-view p {
  line-height: 24px;
  text-indent: 20px;
}

.muscles-section,
.description-section,
.equipment-section {
  margin-bottom: 20px;
}
