.workout-tab-header {
  display: flex;
  flex-direction: row;
}

.workout-tab-title-description {
  width: 66.66%;
  background-color: grey;
}

.workout-tab-summary {
  width: 33.33%;
  background-color: lightgrey;
}


.workout-tab-title-box {
  display: flex;
  flex-direction: row;
}

.workout-tab-summary {
  display: flex;
  flex-direction: row;
  align-items: center;
}
